<section class="showcase-area">
  <div class="container">
    <div class="showcase-info">
      <h3 class="sub-heading">Salgados</h3>
      <h1 class="heading">Lias l'usine</h1>
      <p class="text">Salgados congelados a preço de fábrica</p>
      <div class="cta">
        <a href="#" class="btn">Fale Conosco</a>
        <a href="#" download class="btn secondary-btn">Download Cardápio</a>
      </div>
    </div>
    <div class="showcase-image">
      <%= cl_image_tag("xctntzzlbrp1pgflaha7tpfqr06h",
      width: 150, height: 150, crop: :thumb, gravity: :face) %>
    </div>
    
  </div>
</section>