.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  display: flex;
}

.logo {
  margin-right: 1.5rem;
  height: 120px;
  line-height: 120px;
  font-family: 'Abril Fatface', cursive;
  font-size: 1.5rem;
  color: var(--heading-color);
  letter-spacing: 1px;
  transition: .3s;
}

.logo span {
  color: var(--main-color-1);
}

.inline {
  display: flex;
}
